body {
  
    font-family: Helvetica, Arial, sans-serif;
    background-color: #a6dff2;
  }
  
  header {
    padding: 20px 35px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #79bcec;
      position: -webkit-sticky;
      position: sticky;
  }

  header a {
    text-decoration: none;
    color: #135686;
  }

  header h1 {
      color: #135686;
      font-weight: bold;
      font-size: 36px;
      margin: 0;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    color: #e9fcfc;
    text-shadow: none;
  }
